<ul class="SiteFooter-links">
  <li>
    <a 
      href="https://github.com/gfse/SAF-Specification/discussions/new?category=ideas&body={{ page.path  | url_encode }}"
      class="SiteFooter-button"
      title="Discuss this page on GitHub"
      >Discuss on GitHub</a
    >
  </li>
  <li>
      <a 
        href="https://github.com/gfse/SAF-Specification/issues/new?body={{ page.path  | url_encode }}"
        class="SiteFooter-button"
        title="Raise issue on GitHub for this page"
        >Raise Issue on GitHub</a
      >
  </li>
  <li>
      <a
        href="https://github.com/gfse/SAF-Specification/edit/main/{{ page.path }}"
        class="SiteFooter-button"
        title="Edit this page on GitHub to help improve the site"
        >Improve this page</a
      >
  </li>
</ul>
