{% assign pagelinkbody = "[" | append: page.path | append: "](../blob/main/src/" | append: page.path | append: ")" |
url_encode %}
<div class="flex-container">

  <div class="flex-child">
    <a href="https://github.com/gfse/SAF-Specification/discussions/new?category=ideas&body={{ pagelinkbody }}"
      title="Discuss this page on GitHub">Discuss on GitHub</a>
  </div>

  <div class="flex-child">
    <a href="https://github.com/gfse/SAF-Specification/issues/new?body={{ pagelinkbody }}"
      title="Raise issue on GitHub for this page">Raise Issue on GitHub</a>
  </div>

  <div class="flex-child">
    <a href="https://github.com/gfse/SAF-Specification/edit/main/src/{{ page.path }}"
      title="Edit this page on GitHub to help improve the site">Improve this page</a>
  </div>
</div>
