
 {%- assign cacheBuster = site.time | date: "%Y%m%d%H%M%S" %}
 <script src="{{ site.baseurl  }}/assets/js/site_constants.js?v={{ cacheBuster }}"></script>
 <div id="plugin-version-menu" class="site-footer"></div>
 <script src="{{ site.baseurl }}/assets/js/plugin_versions_menu.js?v={{ cacheBuster }}"></script>
 <script src="{{ site.baseurl }}/assets/js/annotations.js?v={{ cacheBuster }}"></script>
 <div style="flex: 0 1 200px"><A href="https://gfse.org"><img src="{{ site.baseurl }}/assets/images/gfse-logo.png" alt="GfSE-Logo" style="height:100%"/></A></div>

