.side-bar {
  width: 18rem;
 }

 
 @media (min-width: 66.5rem) {
   .main {
    margin-left: 18rem !important;
    max-width: 80% !important;
  }
}

@media (min-width: 50rem) {
  .main {
   margin-left: 18rem !important;
   max-width: 80% !important;
 }
}


.flex-container {
  display: flex;
  padding: 20px;
  color: #fff;
}

.flex-child {
  flex: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0.5em 1.2em;
  margin: 3px;
  transition: all 0.5s ease;
  background: #a1a1a1;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.flex-child:active,
.flex-child:hover,
.flex-child:focus {
  background: #777;
}

@media (max-width: 800px) {
.flex-container  {
    display: block;
  }
}

@media (max-width: 500px) {
.flex-child  .mobile-ln {
    display: block;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}